<?xml version="1.0"?>
<!--
/**
 * Copyright © Webscale. All rights reserved.
 * See LICENSE for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Webscale_Varnish::varnish_config" title="Webscale Varnish" sortOrder="90" />
            </resource>
        </resources>
    </acl>
</config>
